mixin sideNav(user, currentPage)
    nav.user-view__menu
        ul.side-nav
            +navItem('/me', 'Settings', 'settings', currentPage === 'settings')
            +navItem('/my-tours', 'My bookings', 'briefcase', currentPage === 'my-tours')
            +navItem('/my-reviews', 'My reviews', 'star', currentPage === 'my-reviews')
            +navItem('/billing', 'Billing', 'credit-card', currentPage === 'billing')
        if user.role === 'admin'
            .admin-nav
                h5.admin-nav__heading Admin
                ul.side-nav
                    +navItem('/manage-tours', 'Manage tours', 'map', currentPage === 'manage-tours')
                    +navItem('/manage-users', 'Manage users', 'users', currentPage === 'manage-users')
                    +navItem('/manage-reviews', 'Manage reviews', 'star', currentPage === 'manage-reviews')
                    +navItem('/manage-bookings', 'Manage bookings', 'briefcase', currentPage === 'manage-bookings')
